FMP_API_KEY=YOUR_FMP_API_KEY_HERE
TAVILY_API_KEY=YOUR_TAVILY_API_KEY_HERE
DATABASE_URL=postgresql://user_ai:YOUR_PASSWORD_HERE@192.168.1.190:5432/stock_agent_db
SEC_USER_AGENT="Your Name admin@domain.com"
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE
